.App {
  text-align: center;
  color: #eddfc7;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: 0.222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
body {
  color: white;
  background-color: #3a4e3d;
  text-align: center;
  margin-top: 90px;
}
#urlSettingCheckboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2%;
  text-align: center;
  margin-top: 80px;
  padding: 30px;
  padding-bottom: 300px;
}
#urlSettingCheckboxes label:after {
  opacity: 0.2;
  content: " ";
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}

input {
  background-color: grey;
  border: none;
  color: white;
  font-size: 20px;
  padding: 15px 32px;
  margin: 0 auto;
  text-align: center;
}

#button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.header {
  background-color: #415761;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

.header * {
  display: inline;
}

.header li {
  margin: 20px;
}

.header li a {
  color: #eddfc7;
  text-decoration: none;
}
.header a:hover {
  color: black;
}
